<section class="bg-neutral-950/90 text-white min-h-screen py-12 px-6 relative">

  <!-- HEADER -->
  <header class="mb-10">
    <h1 class="text-3xl md:text-4xl font-bold mb-2">
      Análise de Dados
    </h1>
  </header>


  <!-- GRID -->
  <div class="
    grid
    grid-cols-1
    sm:grid-cols-2
    lg:grid-cols-3
    xl:grid-cols-4
    gap-6
  ">

    <a *ngFor="let item of projects" [href]="item.embedUrl" target="_blank" rel="noopener noreferrer" class="
        group
        relative
        rounded-xl
        overflow-hidden
        bg-neutral-900
        shadow-lg
        hover:shadow-2xl
        transition
        duration-300
        hover:scale-105
      ">

      <!-- IMAGE -->
      <div class="relative h-48 overflow-hidden">

        <img [src]="item.thumbnail" [alt]="item.title" class="
            w-full
            h-full
            object-contain
            transition
            duration-500
            group-hover:scale-110
          " />

        <!-- GRADIENT OVERLAY -->
        <div class="
          absolute inset-0
          bg-gradient-to-t
          from-black/90
          via-black/40
          to-transparent
          opacity-80
        "></div>

        <!-- PLAY BUTTON -->
        <div class="
          absolute inset-0
          flex items-center justify-center
          opacity-0
          group-hover:opacity-100
          transition
        ">
          <div class="
            bg-white/50
            text-black
            px-4 py-3
            rounded-full
            font-semibold
            text-sm
            shadow-lg
          ">
            ▶
          </div>
        </div>

      </div>


      <!-- CONTENT -->
      <div class="p-4">

        <h3 class="font-semibold text-lg mb-1 line-clamp-1">
          {{ item.title }}
        </h3>

        <p class="text-sm text-neutral-400 line-clamp-2 mb-3">
          {{ item.description }}
        </p>


        <!-- TAGS -->
        <div class="flex flex-wrap gap-2">

          <span *ngFor="let tag of item.tags" class="
              text-xs
              bg-green-600/20
              text-green-400
              px-2 py-1
              rounded
            ">
            {{ tag }}
          </span>

        </div>

      </div>

    </a>

  </div>

  <a routerLink="/" class="
      fixed
      top-6
      right-6
      inline-flex
      items-center
      gap-2
      bg-green-600/50
      text-green-400
      hover:bg-green-600/20
      hover:text-green-400
      px-4
      py-2
      rounded-lg
      transition
      duration-200
      shadow-[0_10px_30px_rgba(0,0,0,0.5)]
      backdrop-blur
    ">
    ← Home
  </a>

</section>