<header class="
  relative w-full h-[100svh] overflow-hidden

  grid
  grid-rows-[auto_auto]
  grid-cols-1

  lg:grid-rows-1
  lg:grid-cols-[34%_32%_34%]

  justify-items-center
  items-center
">

  <!-- BACKGROUND -->
  <img src="assets/images/bg-dados.png" class="absolute inset-0 w-full h-full object-cover" />

  <!-- CARD ESQUERDA -->
  <div class="
      relative
      z-10
      hidden
      animate-slideLeft
      
      lg:grid
      lg:grid-rows-2
      
      w-full
      h-full

      lg:col-start-1
    ">
    <div class="
      row-start-1
      relative
      w-full
      h-full
    ">
      <img src="assets/images/img-left.png" alt="left" class="
        absolute
        inset-0
        top-[5%]
        left-[2%]
        w-[134%]
        h-full
        object-fill
        max-w-none
      " />
    </div>
    <div class="
    absolute
    top-[8%]
    left-[3.5%]
    ">
      <app-cards [titulo]="cards[0].title" [descricao]="cards[0].description" [tipo]="cards[0].route"
        (abrir)="abrirCurriculo($event)" (abrirPortfolio)="abrirPortfolio($event)">
      </app-cards>
    </div>
  </div>

  <!-- CONTEÚDO CENTRAL -->
  <div class="
    relative
    z-10
    w-full
    h-full
    grid
    grid-rows-[auto_1fr_auto]
    grid-cols-1
    justify-items-center
    content-center
    items-end
    text-center
    p-6
  ">
    <h1 class="text-1xl font-bold leading-tight text-white mb-8 bg-neutral-800/50 px-4 py-1
    rounded-md 
    md:text-3xl md:mb-8
    ">
      {{ info.name }}
    </h1>

    <!-- FOTO -->
    <img [src]="info.photo" (error)="onImgError($event)" class="
        w-36 h-36
        md:w-48 md:h-48
        lg:w-64 lg:h-64
        rounded-full
        object-cover object-top
        border-2 border-[#FE9F27]
        md:border-4 md:border-[#FE9F27]
        lg:border-6 lg:border-[#FE9F27]
        xl:border-8 xl:border-[#FE9F27]
        shadow-[0_30px_350px_rgba(100,100,100,1)]
        animate-fadeUp
        z-20
      " />

    <!-- TEXTO -->
    <div class="text-white animate-fadeDown z-10
    md:mt-6">

      <!-- info pessoal -->
      <p class="bg-neutral-800/50 rounded-md
                text-xs text-neutral-200 mt-3 px-4 py-1
                md:text-sm md:text-neutral-200 md:mt-3 md:px-4 md:py-1">
        <span *ngIf="info.maritalStatus">
          {{ info.maritalStatus }}
        </span>

        <span *ngIf="age">
          • {{ age }} anos
        </span>

        <span *ngIf="info.address">
          • {{ info.address }}
        </span>
      </p>

      <!-- contatos -->
      <div class="flex flex-col items-center gap-1 mt-3
      md:mt-6
      ">

        <!-- email -->
        <a [href]="'mailto:' + info.email" class="flex items-center gap-2 hover:text-white transition bg-neutral-800/50 px-4 py-1 rounded-md 
          text-xs
          md:text-md">
          <!-- icon -->
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l9 6 9-6M4 6h16v12H4z" />
          </svg>

          {{ info.email }}
        </a>

        <!-- whatsapp -->
        <a [href]="'https://wa.me/' + info.phone.replace(/\\D/g,'')" target="_blank" class="flex items-center gap-2 hover:text-white transition bg-neutral-800/50 px-4 py-1 rounded-md
          text-xs
          md:text-md">

          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M20.52 3.48A11.94 11.94 0 0012.05 0C5.4 0 .05 5.35.05 12c0 2.12.55 4.19 1.6 6.02L0 24l6.17-1.62A11.94 11.94 0 0012.05 24c6.65 0 12-5.35 12-12z" />
          </svg>

          {{ info.phone }}
        </a>

      </div>

    </div>

  </div>

  <!-- CARD DIREITA -->
  <div class="
    relative
    w-full
    h-full
    z-5
    animate-slideRight
    hidden

    lg:grid
    grid-rows-2
    lg:col-start-3
    ">
    <div class="
    relative
    inset-0
    w-full
    h-full
    row-start-2
    ">
    <img src="assets/images/img-right.png" alt="right" class="
        absolute
        bottom-[5%]
        right-[2%]
        w-[136%]
        h-full
        object-fill
        max-w-none
      " />
    </div>
    <div class="
    absolute
    bottom-[12.5%]
    right-[8.5%]
    z-20
    ">
      <app-cards [tipo]="cards[1].route" (abrir)="abrirCurriculo($event)" (abrirPortfolio)="abrirPortfolio($event)"
        [descricao]="cards[1].description" [titulo]="cards[1].title" [invertido]="true">
      </app-cards>
    </div>
  </div>

  <!-- Cards Mobile -->
  <div class="
    w-[90%]
    h-auto
    bg-neutral-800/50
    rounded-md
    animate-slideLeft
    relative
    grid
    grid-cols-1
    grid-rows-2
    gap-4
    place-items-center

    md:grid-cols-2
    md:grid-rows-1

    lg:w-full
    lg:h-full
    lg:hidden
    ">
      <app-cards 
      class="w-full max-w-[420px]"
      [titulo]="cards[0].title" 
      [descricao]="cards[0].description" 
      [tipo]="cards[0].route"
      (abrir)="abrirCurriculo($event)" (abrirPortfolio)="abrirPortfolio($event)">
      </app-cards>
  
      <app-cards 
      class="w-full max-w-[420px]"
      [tipo]="cards[1].route" 
      [descricao]="cards[1].description" 
      [titulo]="cards[1].title" 
      [invertido]="true">
      (abrir)="abrirCurriculo($event)" (abrirPortfolio)="abrirPortfolio($event)"
      </app-cards>
  </div>
</header>