<header class="relative w-full min-h-[100svh] overflow-hidden 
  flex flex-col justify-between items-center pt-16 pb-16
  md:min-h-screen md:pt-0 md:pb-0
">

  <!-- BACKGROUND -->
  <img src="assets/images/bg-dados.png" class="absolute inset-0 w-full h-full object-cover" />

  <!-- BG Content-->
  <div class="hidden absolute inset-0 left-2 ml-7 animate-reveal-left
  md:top-0
  lg:block lg:top-0
  ">
    <img src="assets/images/img-left.png" alt="left" />
  </div>

  <div class="
  hidden absolute bottom-0 right-5 mr-7 animate-reveal-right
  md:bottom-0
  lg:block lg:bottom-0
  ">
    <img src="assets/images/img-right.png" alt="right" />
  </div>

  <!-- CONTEÚDO CENTRAL -->
  <div class="
  relative z-10 flex flex-col items-center justify-start pt-4 text-center min-h-full px-6 mb-2 w-[100vw]
  /* mobile */
  md:justify-center md:mb-0 md:pt-0
  /* Notebook */
  lg:max-w-[600px] lg:w-full lg:mx-auto
  ">

    <h1 class="text-1xl font-bold leading-tight text-white mb-8 bg-neutral-800/50 px-4 py-1 rounded-md
    md:text-3xl md:mb-12
    ">
      {{ info.name }}
    </h1>

    <!-- FOTO -->
    <img [src]="info.photo" (error)="onImgError($event)" class="
        w-36 h-36
        md:w-48 md:h-48
        lg:w-64 lg:h-64
        rounded-full
        object-cover object-top
        border-8 border-[#FE9F27]
        shadow-[0_30px_350px_rgba(100,100,100,1)]
        animate-fadeUp
        z-20
      " />

    <!-- TEXTO -->
    <div class="text-white mt-3 animate-fadeDown z-10
    md:mt-6">

      <!-- info pessoal -->
      <p class="bg-neutral-800/50 rounded-md
                text-xs text-neutral-200 mt-3 px-4 py-1
                md:text-sm md:text-neutral-200 md:mt-3 md:px-4 md:py-1">
        <span *ngIf="info.maritalStatus">
          {{ info.maritalStatus }}
        </span>

        <span *ngIf="age">
          • {{ age }} anos
        </span>

        <span *ngIf="info.address">
          • {{ info.address }}
        </span>
      </p>

      <!-- contatos -->
      <div class="flex flex-col items-center gap-1 mt-3
      md:mt-6 md:gap-2
      ">

        <!-- email -->
        <a [href]="'mailto:' + info.email" class="flex items-center gap-2 hover:text-white transition bg-neutral-800/50 px-4 py-1 rounded-md 
          text-xs
          md:text-md">
          <!-- icon -->
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l9 6 9-6M4 6h16v12H4z" />
          </svg>

          {{ info.email }}
        </a>

        <!-- whatsapp -->
        <a [href]="'https://wa.me/' + info.phone.replace(/\\D/g,'')" target="_blank" class="flex items-center gap-2 hover:text-white transition bg-neutral-800/50 px-4 py-1 rounded-md
          text-xs
          md:text-md">

          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M20.52 3.48A11.94 11.94 0 0012.05 0C5.4 0 .05 5.35.05 12c0 2.12.55 4.19 1.6 6.02L0 24l6.17-1.62A11.94 11.94 0 0012.05 24c6.65 0 12-5.35 12-12z" />
          </svg>

          {{ info.phone }}
        </a>

      </div>

    </div>

  </div>

  <!-- OPÇÕES PROFISSIONAIS -->
  <div *ngIf="cards.length >= 2" class="
    z-20 gap-2 w-[90%] px-4 
    /* h-full bg-neutral-800/50 rounded-md */
    /* Mobile */
    md:flex md:flex-col md:items-center
    /* md:top-1/2 md:left-1/2 md:-translate-x-1/2 md:-translate-y-1/2 
    md:w-full md:max-w-8xl md:gap-4
    md:bg-neutral-800/0 md:rounded-none md:mt-6 */
    
    /* Notbook */
    lg:absolute lg:inset-0 lg:pointer-events-none lg:flex lg:flex-row lg:flex-wrap lg:justify-center
    ">

    <!-- CARD ESQUERDA -->
    <div class="
    w-full max-w-[320px] animate-slideLeft

    /* Mobile */
    /* md:static md:mx-auto */

    /*Notebook*/
    lg:absolute lg:max-w-[450px] lg:left-9 lg:top-14 lg:mt-1 lg:pointer-events-auto
    ">
      <app-cards [titulo]="cards[0].title" [descricao]="cards[0].description" [tipo]="cards[0].route"
        (abrir)="abrirCurriculo($event)" (abrirPortfolio)="abrirPortfolio($event)">
      </app-cards>
    </div>

    <!-- CARD DIREITA -->
    <div class="
    w-full max-w-[320px] animate-slideLeft
    /* Mobile */
    /* md:static md:mx-auto */
    /*Noteboon*/
    lg: absolute lg:max-w-[450px] lg:right-12 lg:bottom-16 lg:pointer-events-auto
    ">
      <app-cards [tipo]="cards[1].route" (abrir)="abrirCurriculo($event)" (abrirPortfolio)="abrirPortfolio($event)"
        [descricao]="cards[1].description" [titulo]="cards[1].title" [invertido]="true">
      </app-cards>
    </div>

  </div>
</header>